.ImageGrid {
  padding: 0;
}

.ImageGrid ul {
  list-style: none;
}

.ImageGrid li {
  display: block;
  float: left;
  width: 25%;
  overflow: hidden;
}

.ImageGrid figure {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.ImageGrid img {
  width: 100%;
  opacity: 0.7;
  height: auto;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.ImageGrid img:hover {
  transform: scale(1.25);
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
}
