.Title {
  padding-left: 22%;
  padding-right: 22%;
  padding-top: 40px;
  padding-bottom: 5%;
  width: 100%;
}

.Form {
  width: 100%;
}

.Title h2 {
  margin-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-weight: 300;
  font-size: 165%;
  text-align: center;
  text-transform: uppercase;
}

.Title h3 {
  margin: 5%;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-weight: 300;
  font-size: 165%;
  text-align: center;
  text-transform: uppercase;
}

.Title h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 120px;
  margin: 30px auto;
}

.Button {
  text-align: right;
  margin: 0;
}

@media (max-width: 1200px) {
  .Title {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .Title {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .Title {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0;
    padding-bottom: 20px;
  }
}
